:host {
  $radius: 1.5rem;
  $chart-height: 10rem;
  $chart-width: 20rem;
  $chart-margin: 4rem;
  $chart-border-color: #ccc;

  position: relative;
  display: block;
  height: $chart-height + 3;
  margin-bottom: $chart-margin;
  border-right: 1px solid $chart-border-color;

  &:last-child {
    border-right: none;
  }

  .chart__value {
    position: absolute;
    text-align: center;
    bottom: 2rem;
    left: 15px;
    font-size: 3rem;
    width: $chart-width;
  }

  .chart__label {
    bottom: -1rem;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    width: $chart-width;
  }

  .chart__details {
    position: absolute;
    right: 2rem;
    top: 0;
    width: 30%;
    text-align: right;

    label {
      font-weight: bold;
    }
  }

  .chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: $chart-width;
    height: $chart-height;
    overflow: hidden;
    
    *,
    &::before {
      box-sizing: border-box;
    }
    // chart styles
    &::before,
    &::after {
      position: absolute;
    }

    &::before {
      content: '';
      width: inherit;
      height: inherit;
      border: $radius solid;
      opacity: .3;
      border-bottom: none;
      border-top-left-radius: 175px;
      border-top-right-radius: 175px;
    }

    &::after {
      content: '';
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      font-size: 1.1rem;
      font-weight: bold;
      color: cadetblue;
    }

    li {
      position: absolute;
      top: 100%;
      left: 0;
      width: inherit;
      height: inherit;
      border: $radius solid;
      border-top: none;
      border-bottom-left-radius: 175px;
      border-bottom-right-radius: 175px;
      transform-origin: 50% 0;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      animation-fill-mode: forwards;
      animation-duration: .4s;
      animation-timing-function: linear;
    }

    li:nth-child(1) {
      z-index: 4;
      transform: rotate(0deg);
      transition: transform .5s ease-out;
      animation-name: rotate-one;
    }

    span {
      position: absolute;
      font-size: .85rem;
      backface-visibility: hidden;
      animation: fade-in .4s linear forwards;
    }

    li:nth-child(1) span {
      top: 5px;
      left: 10px;
      transform: rotate(-21.6deg);
    }
  }

  @keyframes rotate-one {
    0% {
      transform: rotate(0deg);
    }
  }
}