/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import 'variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './_bs_theme.scss';

// nav {
//   margin-top: 16px;
// }

// nav a {
//   background-color: $nav-button-color;
//   color: white;
//   padding: 8px 16px;
//   margin: 8px;
//   vertical-align: middle;
//   line-height: 1.25;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 4px;
// }
@mixin transformFromLeft($val) {
  transform: scalex($val);
  transform-origin: left;
}
@keyframes grow {
  0% { @include transformFromLeft(0)}	
  25% { @include transformFromLeft(.25);}
  50% { @include transformFromLeft(.5);}
  75% { @include transformFromLeft(.75);}
  100% { @include transformFromLeft(1);}
}