@import '~styles/_variables.scss';

:host {
  $border-color: $gray-light;
  $hostZindex: $zindex-navbar;
  $gap-from-top: 80px;
  $bg-color: lighten($brand-primary, 15%);

  border-right: 1px solid $border-color;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $hostZindex;
  padding-top: $gap-from-top;
}