@media (min-width: 360px) {
  :host {
    // width: 10%;
    float: left;
    
    .yaxis-item {
      height: 50px;
      line-height: 50px;
      text-align: right;
      font-size: 2rem;
    }
  }
}

@media (min-width: 600px) {
  :host {
    // width: 3%;
    font-size: 1rem;
  }
}