@import '~styles/_variables.scss';

:host {
  $hostZindex: $zindex-navbar-fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 80px;
  z-index: $hostZindex;

  .btn-menu {
    margin-right: 15px;
  }
}