@import '~styles/_variables';

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

body {
  padding-top: 65px;
}

main {
  height: 100%;
  padding-top: 2rem;
}
a.active {
  background-color: #fff;
}

@media (max-width: $screen-sm) {
  app-sidebar {
    &.sidebar-collapse {
      display: none;
    }
  }
}