$bar-color: #61a9f3;
$bar-hover-color: #186dc3;
$bar-text: #b9d2ec;
$border-color: #ccc;

@media (min-width: 360px) {
  :host {
    float: left;
    border: 1px solid $border-color;
    padding-left: 0;
    
    .bar-item {
      padding: 10px 0;
      transition: width .5s ease-out;
      
      &.animate {
        animation: width-reset .5s;
      }

      .bar-item__vis {
        height: 30px;
        background-color: $bar-color;
        transition: background-color .3s ease-out;
      
        aside {
          line-height: 30px;
          color: $bar-text;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  :host {
    .bar-item .bar-item__vis aside {
      visibility: hidden;
    }
    .bar-item .bar-item__vis:hover {
      background-color: $bar-hover-color;
    }
    .bar-item .bar-item__vis:hover aside {
      visibility: visible;
    }
  }
}

@keyframes width-reset {
  0% {
    width: 0;
  }
}